{
	"env": {
		"es9": true
	},
	"rules": {
		"no-var": "error",
		"semi": "warn",
		"indent": "error",
		"no-multi-spaces": "error",
		"space-in-parens": "error",
		"no-multiple-empty-lines": "error"
	}
}